@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #180B04;
}
/* headings and logo */
h1 { 
    text-align: center;
    font-size: 200%;
}
h2 { 
    position: absolute;
    font-size: 300%;
}
h1,h2 {
    font-family: 'Miss Fajardose', cursive;
    color: #2EA7F4;
}
header { 
    padding: 20px;
    margin-bottom: 4%;
}
menu { 
    margin-top: 20px;
}
#logo {
    float: left;
    font-size: 300%;
    margin: 0px 0px;
    margin-top: 0px;
}
/* navigation links */
ul { 
    float: right;
}
li { 
    margin-top: 10px;
}
.menu {
    font-size: 114%;
}
.menu li {
    display: flex;
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}
.menu a {
    text-decoration: none;
    color: #223348;
}
.menu a:hover {
    border-bottom: 1px solid #223348;
}
.active {
    border-bottom: 1px solid #223348;
}

.sanskrit {
    font-size: 200%;
    font-family: 'Poppins', sans-serif;
    color: #cc7405;
}
.flex-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #f6d09d;
}
.flex-child {
    border: 4px solid #C8BF9E;
    text-align: center;
    display: flex;
    overflow: hidden;
}

.mission , p { 
    background-color: #f6d09d;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 100px;
}

/* footer */

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #f6f3e1;
}

.social-networks {
    text-align: center;
    align-items: center;
    display: flex;    
}

.social-networks a {
    margin: 0 4em;
}

.social-networks > li {
    display: flex;    
}

.social-networks i {
    font-size: 300%;
    padding: 20%;
    color: #cc7405;   
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Form */

.form-section {
    clear: left;
    background-color: #f6d09d;
    background-size: cover;
    background-position: center;
    height: 400px;
}

signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 0px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #c8bf9e;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

