@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #180b04;
}

/* headings and logo */

h1,h2 {
    font-family: 'Miss Fajardose', cursive;
    color: #2ea7f4;
}

#logo {
    float: left;
    font-size: 400%;
    margin: 40px 30px;
}

/* navigation links */

#menu {
    font-size: 114%;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #223348;
}

#menu a:hover {
    border-bottom: 1px solid #223348;
}

.active {
    border-bottom: 1px solid #223348;
}

#budha-image {
    height: 900px;
    width: 100%;
    background: url('../images/budha\ sky.jpg') no-repeat center left;
    margin-top: 20px;
}