@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #180b04;
}

/* headings and logo */

h1,h2 {
    font-family: 'Miss Fajardose', cursive;
    color: #2ea7f4;
}

#logo {
    float: left;
    font-size: 400%;
}


